<div class="row">
    <br/>
</div>
<form class="form-horizontal" action="" role="form">
    <div class="form-group">
        <label for="oldPassword" class="col-md-2 control-label">旧密码</label>
        <div class="col-md-8">
            <input type="password" class="form-control" id="oldPassword" placeholder="请输入旧密码" ng-model="judge.oldPassword">
        </div>
        <span ng-show="!judge.isTrue">旧密码错误</span>
    </div>

    <div class="form-group">
        <label for="newPassword1" class="col-md-2 control-label">新密码</label>
        <div class="col-md-8">
            <input type="password" class="form-control" id="newPassword1" placeholder="请输入新密码" ng-model="judge.newPassword1">
        </div>
    </div>

    <div class="form-group">
        <label for="newPassword2" class="col-md-2 control-label">确认新密码</label>
        <div class="col-md-8">
            <input type="password" class="form-control" id="newPassword2" placeholder="请确认新密码" ng-model="judge.newPassword2">
        </div>
        <span ng-show="!judge.isSame">密码不同</span>

    </div>

    <div class="form-group">
        <div class="col-md-8 col-md-offset-2">
            <button type="submit" class="btn btn-warning pull-right" ng-click="cancel()">取消</button>
            <button type="submit" class="btn btn-primary pull-right" ng-click="submit()">提交</button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <hr/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-8 col-md-offset-5">
            <a class="btn btn-primary pull-left" type="button" download="export.txt" ng-href="{{exportUrl}}">导出</a>
        </div>
    </div>
</form>

