<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h4>请选择标签的新类别</h4>
    <div class="col-md-4 col-md-offset-4">
    <div class="row">
        <a href ng-repeat="tagType in tagTypes" ng-click="submit(tagType)"><h4>{{tagType}}</h4></a>
        <a href class="btn btn-primary" ng-click="delete()">删除该标签</a>

    </div>
    </div>


    <div class="row">
        <div class="col-md-2 col-md-offset-8">
            <a class="btn" ng-click="cancel()"></a>
        </div>
    </div>
</body>
</html>