<div ng-controller="codeUploadCtrl">
    <div class="row" ng-show="isEdit">
        <div class="col-md-2">
            <button class="btn btn-primary" pl-upload pl-progress-model="percent" pl-files-model="files"
                    pl-url="http://121.40.106.155:5000/uploadCode" on-file-uploaded="uploaded()"
                    pl-multi-params-model="params" pl-filters-model="filter" pl-max-file-size="10240mb">上传代码
            </button>
        </div>
        <div class="col-md-9 col-md-offset-1">
            <progressbar value="percent">
                <b>{{percent}}%</b>
            </progressbar>
        </div>
    </div>
    <div class="row" ng-show="codeFiles.length">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>已上传的代码</th>
                    <th class="text-right">大小(MB)</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="codeFile in codeFiles">
                    <td><a href="{{getFullDownloadURL(codeFile.uri)}}">{{codeFile.file_name}}</a></td>
                    <td class="text-right">{{(codeFile.size/(1024*1024)).toFixed(2)}}</td>
                    <td class="text-right"><a href ng-click="delete(codeFile.id)" class="btn" ng-show="isEdit">删除</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>