    <div class="row">
        <div class="col-md-8">
            <h3>代码列表</h3>
        </div>
        <div class="col-md-4" ng-show="!isFavor">
            <a ui-sref="newCode" class="btn btn-primary pull-right">添加</a>
            <a class="btn btn-primary pull-right" ng-click="openQuery()">查询</a>
        </div>
    </div>
    <div class="row">
        <br>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="gridStyle" ui-grid="gridOptions" ui-grid-resize-columns ui-grid-pagination>
            </div>
        </div>
    </div>
