<div class="row">
	<div class="col-md-12">
		<h1>这里是首页</h1>
        <!--<form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" contenteditable="true" for="inputAccount">账号</label>
                <div class="controls">
                    <input id="inputAccount" placeholder="Account" type="text" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" contenteditable="true" for="inputPassword">密码</label>
                <div class="controls">
                    <input id="inputPassword" placeholder="Password" type="password" />
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox" contenteditable="true">
                        <input type="checkbox" /> Remember me </label>
                    <button class="btn btn-primary" contenteditable="true" type="submit">登录</button>
                </div>
            </div>
        </form>-->
    </div>
</div>