<div class="row" ng-controller="HomeController">
	<div class="col-md-12">
		<h1>欢迎您，{{$root.userName}}</h1>
    </div>
    <div class="col-md-12">
        <table class="table">
            <caption>系统最近创建的资源</caption>
            <thead>
            <tr>
                <th>标题</th>
                <th>类型</th>
                <th>最新修改者</th>
                <th>最新修改时间</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in literatures_create_recent">
                <td><a href ui-sref="viewLiterature({id: item.id})">{{item.title}}</a></td>
                <td>文献</td>
                <td>{{item.updater_name}}</td>
                <td>{{item.update_time}}</td>
            </tr>
            <tr ng-repeat="item in data_sets_create_recent">
                <td><a href ui-sref="viewDataSet({id: item.id})">{{item.title}}</a></td>
                <td>数据集</td>
                <td>{{item.updater_name}}</td>
                <td>{{item.update_time}}</td>
            </tr>
            <tr ng-repeat="item in codes_create_recent">
                <td><a href ui-sref="viewCode({id: item.id})">{{item.title}}</a></td>
                <td>代码</td>
                <td>{{item.updater_name}}</td>
                <td>{{item.update_time}}</td>
            </tr>
            <tr ng-repeat="item in reports_create_recent">
                <td><a href ui-sref="viewReport({id: item.id})">{{item.title}}</a></td>
                <td>报告</td>
                <td>{{item.updater_name}}</td>
                <td>{{item.update_time}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <table class="table">
            <caption>系统最近更新的资源</caption>
            <thead>
            <tr>
                <th>标题</th>
                <th>类型</th>
                <th>最新修改者</th>
                <th>最新修改时间</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in literatures_update_recent">
                <td><a href ui-sref="viewLiterature({id: item.id})">{{item.title}}</a></td>
                <td>文献</td>
                <td>{{item.updater_name}}</td>
                <td>{{item.update_time}}</td>
            </tr>
            <tr ng-repeat="item in data_sets_update_recent">
                <td><a href ui-sref="viewDataSet({id: item.id})">{{item.title}}</a></td>
                <td>数据集</td>
                <td>{{item.updater_name}}</td>
                <td>{{item.update_time}}</td>
            </tr>
            <tr ng-repeat="item in codes_update_recent">
                <td><a href ui-sref="viewCode({id: item.id})">{{item.title}}</a></td>
                <td>代码</td>
                <td>{{item.updater_name}}</td>
                <td>{{item.update_time}}</td>
            </tr>
            <tr ng-repeat="item in reports_update_recent">
                <td><a href ui-sref="viewReport({id: item.id})">{{item.title}}</a></td>
                <td>报告</td>
                <td>{{item.updater_name}}</td>
                <td>{{item.update_time}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <table class="table">
            <caption>我最近创建的资源</caption>
            <thead>
            <tr>
                <th>标题</th>
                <th>类型</th>
                <th>最新修改者</th>
                <th>最新修改时间</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in literatures_create">
                <td><a href ui-sref="viewLiterature({id: item.id})">{{item.title}}</a></td>
                <td>文献</td>
                <td>{{item.updater_name}}</td>
                <td>{{item.update_time}}</td>
            </tr>
            <tr ng-repeat="item in data_sets_create">
                <td><a href ui-sref="viewDataSet({id: item.id})">{{item.title}}</a></td>
                <td>数据集</td>
                <td>{{item.updater_name}}</td>
                <td>{{item.update_time}}</td>
            </tr>
            <tr ng-repeat="item in codes_create">
                <td><a href ui-sref="viewCode({id: item.id})">{{item.title}}</a></td>
                <td>代码</td>
                <td>{{item.updater_name}}</td>
                <td>{{item.update_time}}</td>
            </tr>
            <tr ng-repeat="item in reports_create">
                <td><a href ui-sref="viewReport({id: item.id})">{{item.title}}</a></td>
                <td>报告</td>
                <td>{{item.updater_name}}</td>
                <td>{{item.update_time}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <table class="table">
            <caption>我最近更新的资源</caption>
            <thead>
            <tr>
                <th>标题</th>
                <th>类型</th>
                <th>最新修改者</th>
                <th>最新修改时间</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in literatures_update">
                <td><a href ui-sref="viewLiterature({id: item.id})">{{item.title}}</a></td>
                <td>文献</td>
                <td>{{item.updater_name}}</td>
                <td>{{item.update_time}}</td>
            </tr>
            <tr ng-repeat="item in data_sets_update">
                <td><a href ui-sref="viewDataSet({id: item.id})">{{item.title}}</a></td>
                <td>数据集</td>
                <td>{{item.updater_name}}</td>
                <td>{{item.update_time}}</td>
            </tr>
            <tr ng-repeat="item in codes_update">
                <td><a href ui-sref="viewCode({id: item.id})">{{item.title}}</a></td>
                <td>代码</td>
                <td>{{item.updater_name}}</td>
                <td>{{item.update_time}}</td>
            </tr>
            <tr ng-repeat="item in reports_update">
                <td><a href ui-sref="viewReport({id: item.id})">{{item.title}}</a></td>
                <td>报告</td>
                <td>{{item.updater_name}}</td>
                <td>{{item.update_time}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <table class="table">
            <caption>我最近评论的资源</caption>
            <thead>
            <tr>
                <th>标题</th>
                <th>类型</th>
                <th>最新修改者</th>
                <th>最新修改时间</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in literatures_comment">
                <td><a href ui-sref="viewLiterature({id: item.id})">{{item.title}}</a></td>
                <td>文献</td>
                <td>{{item.updater_name}}</td>
                <td>{{item.update_time}}</td>
            </tr>
            <tr ng-repeat="item in data_sets_comment">
                <td><a href ui-sref="viewDataSet({id: item.id})">{{item.title}}</a></td>
                <td>数据集</td>
                <td>{{item.updater_name}}</td>
                <td>{{item.update_time}}</td>
            </tr>
            <tr ng-repeat="item in codes_comment">
                <td><a href ui-sref="viewCode({id: item.id})">{{item.title}}</a></td>
                <td>代码</td>
                <td>{{item.updater_name}}</td>
                <td>{{item.update_time}}</td>
            </tr>
            <tr ng-repeat="item in reports_comment">
                <td><a href ui-sref="viewReport({id: item.id})">{{item.title}}</a></td>
                <td>报告</td>
                <td>{{item.updater_name}}</td>
                <td>{{item.update_time}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>