<form action="" role="form" class="form-horizontal">
	<div class="form-group">
		<label for="title" class="col-md-2 control-label">篇名</label>
		<div class="col-md-10">
			<input type="text" class="form-control" id="title" placeholder="请输入篇名">
		</div>
	</div>
	<div class="form-group">
		<label for="titleCN" class="col-md-2 control-label">中文篇名</label>
		<div class="col-md-10">
			<input type="text" class="form-control" id="titleCN" placeholder="请输入中文篇名">
		</div>
	</div>
	<div class="form-group">
		<label for="year" class="col-md-2 control-label">年份</label>
		<div class="col-md-10">
			<input type="number" class="form-control" id="year" placeholder="请输入年份">
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-10 col-md-offset-2">
			<button type="submit" class="btn btn-primary">添加文献</button>
		</div>
	</div>
</form>