<div ng-controller="LiteratureUploadCtrl">
    <div class="row" ng-show="isEdit">
        <div class="col-md-2">
            <button class="btn btn-primary" pl-upload pl-progress-model="percent" pl-files-model="files"
                    pl-url="http://127.0.0.1:5000/upload" on-file-uploaded="uploaded()"
                    pl-multi-params-model="params">上传文件
            </button>
        </div>
        <div class="col-md-9 col-md-offset-1">
            <progressbar value="percent">
                <b>{{percent}}%</b>
            </progressbar>
        </div>
    </div>
    <div class="row" ng-show="literatureFile.uri">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>已上传的文件</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="{{getFullDownloadURL()}}">{{literatureFile.file_name}}</a></td>
                    <td class="text-right"><a href ng-click="delete()" class="btn" ng-show="isEdit">删除</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-controller="VideoUploadCtrl">
    <div class="row" ng-show="isEdit">
        <div class="col-md-2">
            <button class="btn btn-primary" pl-upload pl-progress-model="percent" pl-files-model="files"
                    pl-url="http://127.0.0.1:5000/uploadVideo" on-file-uploaded="uploaded()"
                    pl-multi-params-model="params" pl-filters-model="filter" pl-max-file-size="10240mb">上传视频
            </button>
        </div>
        <div class="col-md-9 col-md-offset-1">
            <progressbar value="percent">
                <b>{{percent}}%</b>
            </progressbar>
        </div>
    </div>
    <div class="row" ng-show="videoFiles.length">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>已上传的视频</th>
                    <th class="text-right">大小(MB)</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="video in videoFiles">
                    <td><a href="{{getFullDownloadURL(video.uri)}}">{{video.video_name}}</a></td>
                    <td class="text-right">{{(video.size/(1024*1024)).toFixed(2)}}</td>
                    <td class="text-right"><a href ng-click="delete(video.id)" class="btn" ng-show="isEdit">删除</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-controller="PptUploadCtrl">
    <div class="row" ng-show="isEdit">
        <div class="col-md-2">
            <button class="btn btn-primary" pl-upload pl-progress-model="percent" pl-files-model="files"
                    pl-url="http://127.0.0.1:5000/uploadPpt" on-file-uploaded="uploaded()"
                    pl-multi-params-model="params" pl-filters-model="filter" pl-max-file-size="10240mb">上传幻灯片
            </button>
        </div>
        <div class="col-md-9 col-md-offset-1">
            <progressbar value="percent">
                <b>{{percent}}%</b>
            </progressbar>
        </div>
    </div>
    <div class="row" ng-show="pptFiles.length">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>已上传的幻灯片</th>
                    <th class="text-right">大小(MB)</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="ppt in pptFiles">
                    <td><a href="{{getFullDownloadURL(ppt.uri)}}">{{ppt.ppt_name}}</a></td>
                    <td class="text-right">{{(ppt.size/(1024*1024)).toFixed(2)}}</td>
                    <td class="text-right"><a href ng-click="delete(ppt.id)" class="btn" ng-show="isEdit">删除</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-controller="LiteraturePersonalizedUploadCtrl">
    <div class="row" ng-show="isEdit">
        <div class="col-md-2">
            <button class="btn btn-primary" pl-upload pl-progress-model="percent" pl-files-model="files"
                    pl-url="http://127.0.0.1:5000/uploadPersonalized" on-file-uploaded="uploaded()"
                    pl-multi-params-model="params">个性化
            </button>
        </div>
        <div class="col-md-9 col-md-offset-1">
            <progressbar value="percent">
                <b>{{percent}}%</b>
            </progressbar>
        </div>
    </div>
    <div class="row" ng-show="literatureFile.uri">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>已上传个性化文件</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="{{getFullDownloadURL()}}">{{literatureFile.fileName}}</a></td>
                    <td class="text-right"><a href ng-click="delete()" class="btn" ng-show="isEdit">删除</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>