<form action="" role="form" class="form-horizontal">
    <div class="form-group">
        <label for="title" class="col-md-2 control-label">篇名</label>

        <div class="col-md-10">
            <input type="text" class="form-control" id="title" placeholder="请输入篇名" ng-model="literature.title">
        </div>
    </div>
    <div class="form-group">
        <label for="titleCN" class="col-md-2 control-label">中文篇名</label>

        <div class="col-md-10">
            <input type="text" class="form-control" id="titleCN" placeholder="请输入中文篇名" ng-model="literature.titleCN">
        </div>
    </div>
    <div class="form-group">
        <label for="year" class="col-md-2 control-label">年份</label>

        <div class="col-md-10">
            <input type="number" class="form-control" id="year" placeholder="请输入年份" ng-model="literature.published_year">
        </div>
    </div>
    <div class="form-group">
        <label for="author" class="col-md-2 control-label">作者</label>

        <div class="col-md-10">
            <input type="text" class="form-control" id="author" placeholder="请输入作者" ng-model="literature.author">
        </div>
    </div>
    <div class="form-group">
        <label for="authorCN" class="col-md-2 control-label">作者中文名</label>

        <div class="col-md-10">
            <input type="text" class="form-control" id="authorCN" placeholder="请输入作者中文名" ng-model="literature.authorCN">
        </div>
    </div>
    <div class="form-group">
        <label for="publisher" class="col-md-2 control-label">出版商</label>

        <div class="col-md-10">
            <input type="text" class="form-control" id="publisher" placeholder="请输入出版商" ng-model="literature.publisher">
        </div>
    </div>
    <div class="form-group">
        <label for="publisherCN" class="col-md-2 control-label">出版商中文名</label>

        <div class="col-md-10">
            <input type="text" class="form-control" id="publisherCN" placeholder="请输入出版商中文名" ng-model="literature.publisherCN">
        </div>
    </div>
    <div class="form-group">
        <label for="location" class="col-md-2 control-label">地点</label>

        <div class="col-md-10">
            <input type="text" class="form-control" id="location" placeholder="请输入地点" ng-model="literature.location">
        </div>
    </div>
    <div class="form-group">
        <label for="institute" class="col-md-2 control-label">机构</label>

        <div class="col-md-10">
            <input type="text" class="form-control" id="institute" placeholder="请输入机构" ng-model="literature.institute">
        </div>
    </div>
    <div class="form-group">
        <label for="instructor" class="col-md-2 control-label">导师</label>

        <div class="col-md-10">
            <input type="text" class="form-control" id="instructor" placeholder="请输入导师" ng-model="literature.instructor">
        </div>
    </div>
    <div class="form-group">
        <label for="language" class="col-md-2 control-label">语言</label>

        <div class="col-md-10">
            <input type="text" class="form-control" id="language" placeholder="请输入语言" ng-model="literature.language">
        </div>
    </div>
    <div class="form-group">
        <label for="pages" class="col-md-2 control-label">页数</label>

        <div class="col-md-10">
            <input type="number" class="form-control" id="pages" placeholder="请输入页数" ng-model="literature.pages">
        </div>
    </div>
    <div class="form-group">
        <label for="volume" class="col-md-2 control-label">刊数</label>

        <div class="col-md-10">
            <input type="number" class="form-control" id="volume" placeholder="请输入卷数" ng-model="literature.volume">
        </div>
    </div>
    <div class="form-group">
        <label for="issue" class="col-md-2 control-label">issue</label>

        <div class="col-md-10">
            <input type="number" class="form-control" id="issue" placeholder="请输入期数" ng-model="literature.issue">
        </div>
    </div>
    <div class="form-group">
        <label for="section" class="col-md-2 control-label">section</label>

        <div class="col-md-10">
            <input type="number" class="form-control" id="section" placeholder="请输入分册" ng-model="literature.section">
        </div>
    </div>
    <div class="form-group">
        <label for="edition" class="col-md-2 control-label">edition</label>

        <div class="col-md-10">
            <input type="text" class="form-control" id="edition" placeholder="请输入版本" ng-model="literature.edition">
        </div>
    </div>
    <div class="form-group">
        <label for="press" class="col-md-2 control-label">press</label>

        <div class="col-md-10">
            <input type="text" class="form-control" id="press" placeholder="请输入出版社" ng-model="literature.press">
        </div>
    </div>
    <div class="form-group">
        <label for="editor" class="col-md-2 control-label">editor</label>

        <div class="col-md-10">
            <input type="text" class="form-control" id="editor" placeholder="请输入编辑" ng-model="literature.editor">
        </div>
    </div>
    <div class="form-group">
        <label for="ISBN" class="col-md-2 control-label">ISBN</label>

        <div class="col-md-10">
            <input type="text" class="form-control" id="ISBN" placeholder="请输入ISBN" ng-model="literature.ISBN">
        </div>
    </div>
    <div class="form-group">
        <label for="ISSN" class="col-md-2 control-label">ISSN</label>

        <div class="col-md-10">
            <input type="text" class="form-control" id="ISSN" placeholder="请输入ISSN" ng-model="literature.ISSN">
        </div>
    </div>
    <div class="form-group">
        <label for="DOI" class="col-md-2 control-label">DOI</label>

        <div class="col-md-10">
            <input type="text" class="form-control" id="DOI" placeholder="请输入DOI" ng-model="literature.DOI">
        </div>
    </div>
    <div class="form-group">
        <label for="abstract" class="col-md-2 control-label">摘要</label>

        <div class="col-md-10">
            <!--<input type="text" class="form-control" rows="5" id="abstract" placeholder="请输入摘要">-->
            <textarea class="form-control" rows="5" id="abstract" placeholder="请输入摘要" ng-model="literature.abstract"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="abstractCN" class="col-md-2 control-label">中文摘要</label>

        <div class="col-md-10">
            <!--<input type="text" class="form-control" id="abstractCN" placeholder="请输入中文摘要">-->
            <textarea class="form-control" rows="5" id="abstractCN" placeholder="请输入中文摘要" ng-model="literature.abstractCN"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="key_words" class="col-md-2 control-label">关键字</label>

        <div class="col-md-10">
            <input type="text" class="form-control" id="key_words" placeholder="请输入关键字" ng-model="literature.key_words">
        </div>
    </div>
    <div class="form-group">
        <label for="key_wordsCN" class="col-md-2 control-label">中文关键字</label>

        <div class="col-md-10">
            <input type="text" class="form-control" id="key_wordsCN" placeholder="请输入中文关键字" ng-model="literature.key_words_CN">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <button type="submit" class="btn btn-primary pull-right" ng-click="submit()">提交</button>
        </div>
    </div>
</form>