<div class="row" ng-controller="Literature_data_set_controller">
    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>
                <th>该文献关联的数据集</th>
                <th class="text-right"><a ng-click="add()" class="btn" ng-show="isEdit">添加</a></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="data_set in data_set_list">
                <td>{{data_set.title}}</td>
                <td class="text-right"><a href="" class="btn" ng-show="isEdit">删除</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>
                <th>该文献关联的代码</th>
                <th class="text-right"><a href="" class="btn" ng-show="isEdit">添加</a></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>first code</td>
                <td class="text-right"><a href="" class="btn" ng-show="isEdit">删除</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>
                <th>该文献还引用了</th>
                <th class="text-right">引用关系</th>
                <th class="text-right"><a href="" class="btn" ng-show="isEdit">添加</a></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>first cite</td>
                <td class="text-right">赞扬</td>
                <td class="text-right"><a href="" class="btn" ng-show="isEdit">删除</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>
                <th>该文献被引用在</th>
                <th class="text-right">引用关系</th>
                <th class="text-right"><a href="" class="btn" ng-show="isEdit">添加</a></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>first cited</td>
                <td class="text-right">批评</td>
                <td class="text-right"><a href="" class="btn" ng-show="isEdit">删除</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>