<div class="row">
    <br/>
</div>
<form class="form-horizontal" action="" role="form">
    <div class="form-group">
        <label for="title" class="col-md-2 control-label">篇名</label>

        <div class="col-md-8">
            <input type="text" class="form-control" id="title" placeholder="检索篇名" ng-model="literature.title">
        </div>
    </div>

    <!--<div class="form-group">-->
        <!--<label for="year" class="col-md-2 control-label">年份</label>-->

        <!--<div class="col-md-8">-->
            <!--<input type="number" class="form-control" id="year" placeholder="检索年份" ng-model="literature.published_year">-->
        <!--</div>-->
    <!--</div>-->

    <div class="form-group">
        <label for="author" class="col-md-2 control-label">作者</label>

        <div class="col-md-8">
            <input type="text" class="form-control" id="author" placeholder="检索作者" ng-model="literature.author">
        </div>
    </div>

    <div class="form-group">
        <label for="publisher" class="col-md-2 control-label">期刊/会议</label>

        <div class="col-md-8">
            <input type="text" class="form-control" id="publisher" placeholder="检索期刊/会议" ng-model="literature.publisher">
        </div>
    </div>

    <div class="form-group">
        <label for="ISBN" class="col-md-2 control-label">ISBN</label>

        <div class="col-md-8">
            <input type="text" class="form-control" id="ISBN" placeholder="检索ISBN" ng-model="literature.ISBN">
        </div>
    </div>

    <div class="form-group">
        <label for="ISSN" class="col-md-2 control-label">ISSN</label>

        <div class="col-md-8">
            <input type="text" class="form-control" id="ISSN" placeholder="检索ISSN" ng-model="literature.ISSN">
        </div>
    </div>

    <div class="form-group">
        <label for="DOI" class="col-md-2 control-label">DOI</label>

        <div class="col-md-8">
            <input type="text" class="form-control" id="DOI" placeholder="检索DOI" ng-model="literature.DOI">
        </div>
    </div>

    <div class="form-group">
        <label for="published_year_begin" class="col-md-2 control-label">起始年份</label>

        <div class="col-md-8">
            <input type="number" class="form-control" id="published_year_begin" placeholder="输入起始年份" ng-model="literature.year_begin">
        </div>
    </div>

    <div class="form-group">
        <label for="published_year_over" class="col-md-2 control-label">结束年份</label>

        <div class="col-md-8">
            <input type="number" class="form-control" id="published_year_over" placeholder="输入结束年份" ng-model="literature.year_over">
        </div>
    </div>


    <div class="form-group">
        <label class="col-md-2 control-label">标签</label>
        <div class="col-md-10">
            <input type="text" ng-model="tag_input">
        </div>

        <label class="col-md-2 control-label">已添加标签</label>
            <label  class="checkbox-inline" ng-repeat="tag in allTags|filter:judgeSelected">
                <input type="checkbox" ng-model="tag.selected">
                {{tag.name}}
            </label>

        <div class="col-md-10 col-md-offset-2" ng-show="tag_input">
            <label  class="checkbox-inline" ng-repeat="tag in allTags|filter:tag_input">
                <input type="checkbox" ng-model="tag.selected">
                {{tag.name}}
            </label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-8 col-md-offset-2">
            <button type="submit" class="btn btn-warning pull-right" ng-click="cancel()">取消</button>
            <button type="submit" class="btn btn-primary pull-right" ng-click="submit()">提交</button>
        </div>
    </div>
</form>