<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2"><h1 class="text-center">团队资源管理系统</h1></div>
    </div>
    <br/>
    <br/>

    <div class="row" ng-controller="userLoginCtrl">
        <form role="form">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <label class="control-label" for="name">用户名</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <input class="form-control" id="name" placeholder="请输入您的用户名" ng-model="username"
                               type="text" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <label class="control-label" for="password">密码</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <input class="form-control" id="password" placeholder="请输入您的密码" ng-model="password"
                               type="password" value="" autocomplete="off">
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button class="btn btn-primary btn-block btn-lg" ng-click="ok()">登录</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>