<div ng-controller="FileRecoveryCtrl">
    <div class="row">
        <div class="col-md-12">
            <h3>文件恢复</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>文献名称</th>
                    <th>当前上传文件</th>
                    <th>恢复</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in literatureList">
                    <td><a ui-sref="viewLiterature({id: item.id})">{{item.title}}</a></td>
                    <td><a href="{{getFullDownloadURL(item.uri)}}">{{item.file_name}}</a></td>
                    <td><a href ng-click="recovery(item)">恢复上一版本</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>