<form action="" role="form" class="form-horizontal">
    <div class="form-group">
        <label for="title" class="col-md-2 control-label">标题</label>

        <div class="col-md-10">
            <input type="text" class="form-control" id="title" placeholder="请输入标题" ng-model="report.title">
        </div>
    </div>
    <div class="form-group">
        <label for="report_date" class="col-md-2 control-label">报告日期</label>

        <div class="col-md-10">
            <input type="text" class="form-control" id="report_date" placeholder="请输入报告日期" ng-model="report.report_date">
        </div>
    </div>
    <div class="form-group">
        <label for="reporter" class="col-md-2 control-label">报告人</label>

        <div class="col-md-10">
            <input type="text" class="form-control" id="reporter" placeholder="请输入报告人" ng-model="report.reporter">
        </div>
    </div>
    <div class="form-group">
        <label for="reporter_title" class="col-md-2 control-label">报告人职位</label>

        <div class="col-md-10">
            <input type="text" class="form-control" id="reporter_title" placeholder="请输入报告人职位" ng-model="report.company">
        </div>
    </div>
    <div class="form-group">
        <label for="company" class="col-md-2 control-label">组织</label>

        <div class="col-md-10">
            <input type="text" class="form-control" id="company" placeholder="请输入组织" ng-model="report.company">
        </div>
    </div>
    <div class="form-group">
        <label for="location" class="col-md-2 control-label">报告地点</label>

        <div class="col-md-10">
            <input type="text" class="form-control" id="location" placeholder="请输入报告地点" ng-model="report.location">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <button type="submit" class="btn btn-primary pull-right" ng-click="submit()">提交</button>
        </div>
    </div>
</form>