<div class="row">
	<div class="col-md-12">
		<div class="list-group">
			<a ui-sref="showAllLiterature" class="list-group-item" ng-class="{active: $state.includes('showAllLiterature')}">文献</a>
			<a ui-sref="showAllDataSet" class="list-group-item" ng-class="{active: $state.includes('showAllDataSet')}">数据集</a>
			<a ui-sref="showAllCode" class="list-group-item" ng-class="{active: $state.includes('showAllCode')}">代码</a>
            <a ui-sref="showAllReport" class="list-group-item" ng-class="{activa: $state.includes('showAllReport')}">报告</a>
		</div>
	</div>
</div>
