<div class="row">
    <h3>系统配置</h3>
    <div class="row">
        <div class="col-md-9">
            <h4><strong>文献配置</strong></h4>
            <h6>当前文献种类：</h6>
        </div>
        <div class="col-md-3 pull-right">
            <a class="btn btn-primary">编辑/取消</a>
            <a class="btn btn-primary pull-right">保存</a>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-8">
                <select class="form-control">

                </select>
            </div>
            <div class="col-md-3">
                <input type="text"  class="form-control" id="literatureType" placeholder="请输入类型">
            </div>
            <div class="col-md-1">
                <a class="btn btn-primary pull-right">添加</a>
            </div>
        </div>
    </div>
    <div class="row">
        <br>
    </div>
    <div>
        <h5>可选择的文献属性：</h5>
        <label class="checkbox-inline">
            <input type="checkbox" id="titleCheckbox" value="title"> 标题
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="authorCheckbox" value="author"> 作者
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="authorCNCheckbox" value="authorCN"> 作者中文名
        </label>
    </div>

    <div>
        <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=1)" width="100%" color=#987cb9 SIZE=3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4><strong>详细评价配置</strong></h4>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary">编辑</a>
            <a class="btn btn-primary pull-right">删除</a>
        </div>
        <div class="col-md-3">
            <input type="text"  class="form-control" id="commentType" placeholder="请输入属性">
        </div>
        <div class="col-md-1">
            <a class="btn btn-primary pull-right">添加</a>
        </div>
    </div>
    <div>
        <h5>可选择的评价属性：</h5>
        <label class="checkbox-inline">
            <input type="checkbox" id="comment1"> 待解决
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="comment2"> 改进
        </label>
    </div>

    <div>
        <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=1)" width="100%" color=#987cb9 SIZE=3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4><strong>引用配置</strong></h4>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary">编辑</a>
            <a class="btn btn-primary pull-right">删除</a>
        </div>
        <div class="col-md-3">
            <input type="text"  class="form-control" id="citeType" placeholder="请输入类型">
        </div>
        <div class="col-md-1">
            <a class="btn btn-primary pull-right">添加</a>
        </div>
    </div>
    <div>
        <h5>可选择的引用类型：</h5>
        <label class="checkbox-inline">
            <input type="checkbox" id="cite1"> 提及
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="cite2"> 同意
        </label>
    </div>
</div>