<div>
    <h3>评论列表</h3>
    <div class="row" ng-repeat="comment in commentList">
        <div class="col-md-1"><span>评分：{{comment.star}}</span></div>
        <div class="col-md-2"><span>评论人：{{comment.commenter_name}}</span></div>
        <div class="col-md-9"><span class="pull-right">{{comment.comment_time}}</span></div>
        <div class="col-md-12">
            <br/>
            <br/>
        </div>
        <div class="col-md-12" ng-show="comment.is_simple">
            <span>{{comment.content}}</span>
        </div>
        <div class="col-md-12" ng-hide="comment.is_simple">
            <p ng-repeat="attr in comment.content.split('&')">{{attr}}</p>
        </div>
        <hr/>
    </div>
</div>