    <div class="row">
        <h4>
            <span class="col-md-2 label-default label">标题</span>
            <span class="col-md-10 ">{{report.title}}</span>
        </h4>
    </div>
    <div class="row">
        <h4>
            <span class="col-md-2 label-default label">日期</span>
            <span class="col-md-10 ">{{report.report_date | limitTo:10}}</span>
        </h4>
    </div>
    <div class="row">
        <h4>
            <span class="col-md-2 label-default label">报告人</span>
            <span class="col-md-10 ">{{report.reporter}}</span>
        </h4>
    </div>
    <div class="row">
        <h4>
            <span class="col-md-2 label-default label">职位</span>
            <span class="col-md-10 ">{{report.reporter_title}}</span>
        </h4>
    </div>
    <div class="row">
        <h4>
            <span class="col-md-2 label-default label">单位</span>
            <span class="col-md-10 ">{{report.company}}</span>
        </h4>
    </div>
    <div class="row">
        <h4>
            <span class="col-md-2 label-default label">地点</span>
            <span class="col-md-10 ">{{report.location}}</span>
        </h4>
    </div>
    <div class="row">
        <h4>
            <span class="col-md-2 label-default label">标签</span>
            <span class="col-md-10">
                <div class="row">
                    <label ng-repeat="tag in tags" class="col-md-2">{{tag.name}}</label>
                </div>
            </span>
        </h4>
    </div>