<div class="container" ng-controller="codeShowCtrl">
    <div ui-view="nav"></div>
    <div class="row">
        <div class="col-md-9">
            <h2>{{code.title}}</h2>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary pull-right" type="button"  ng-controller="addFavorCtrl" ng-click="addFavor()">收藏</button>
            <p class="pull-right">&nbsp;</p>
            <button class="btn pull-right" type="button" ng-class="{'btn-primary': !isEdit, 'btn-info': isEdit}"
                    ng-click="changeState()">{{getEditLabel()}}
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>{{code.rank_str}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div ui-view="viewCodeMeta" ng-hide="isEdit"></div>
            <div ui-view="editCodeMeta" ng-show="isEdit"></div>
        </div>
        <div class="col-md-4">
            <div ui-view="viewCodeUpload"></div>
        </div>
    </div>
    <div class="row">
        <div ui-view="viewCodeRelation"></div>
    </div>
    <div ng-controller="CommentCtrl">
        <div class="row">
            <div ui-view="addComment"></div>
        </div>
        <div class="row">
            <div ui-view="showComment"></div>
        </div>
    </div>
</div>