<div class="container-fluid" ng-controller="LiteratureShowCtrl">
    <div class="row">
        <div class="col-md-3">
            摘要：
        </div>
        <div class="col-md-9">
            显示内容
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            中文摘要：
        </div>
        <div class="col-md-9">
            显示内容
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            年份：
        </div>
        <div class="col-md-9">
            显示内容
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            作者：
        </div>
        <div class="col-md-9">
            显示内容
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            作者中文名：
        </div>
        <div class="col-md-9">
            显示内容
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Publisher：
        </div>
        <div class="col-md-9">
            显示内容
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Publisher中文名：
        </div>
        <div class="col-md-9">
            显示内容
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            关键字：
        </div>
        <div class="col-md-9">
            显示内容
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            中文关键字：
        </div>
        <div class="col-md-9">
            显示内容
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            地点：
        </div>
        <div class="col-md-9">
            显示内容
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            机构：
        </div>
        <div class="col-md-9">
            显示内容
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            导师：
        </div>
        <div class="col-md-9">
            显示内容
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            语言：
        </div>
        <div class="col-md-9">
            显示内容
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            页数：
        </div>
        <div class="col-md-9">
            显示内容
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            刊数：
        </div>
        <div class="col-md-9">
            显示内容
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Issue：
        </div>
        <div class="col-md-9">
            显示内容
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Section：
        </div>
        <div class="col-md-9">
            显示内容
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Edition：
        </div>
        <div class="col-md-9">
            显示内容
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Press：
        </div>
        <div class="col-md-9">
            显示内容
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Editor：
        </div>
        <div class="col-md-9">
            显示内容
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            ISBN：
        </div>
        <div class="col-md-9">
            显示内容
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            ISSN：
        </div>
        <div class="col-md-9">
            显示内容
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            DOI：
        </div>
        <div class="col-md-9">
            显示内容
        </div>
    </div>
</div>