    <div class="row">
        <h4>
            <span class="col-md-1 label-default label">中文篇名</span>
            <span class="col-md-10 col-md-offset-1">{{literature.titleCN}}</span>
        </h4>
    </div>
    <div class="row">
        <h4>
            <span class="col-md-1 label-default label">年份</span>
            <span class="col-md-10 col-md-offset-1">{{literature.published_year}}</span>
        </h4>
    </div>
    <div class="row">
        <h4>
            <span class="col-md-1 label-default label">摘要</span>
            <span class="col-md-10 col-md-offset-1">{{literature.abstract}}</span>
        </h4>
    </div>
    <div class="row">
        <h4>
            <span class="col-md-1 label-default label">中文摘要</span>
            <span class="col-md-10 col-md-offset-1">{{literature.abstractCN}}</span>
        </h4>
    </div>
    <div class="row">
        <h4>
            <span class="col-md-1 label-default label">作者</span>
            <span class="col-md-10 col-md-offset-1">{{literature.author}}</span>
        </h4>
    </div>
    <div class="row">
        <h4>
            <span class="col-md-1 label-default label">作者中文名</span>
            <span class="col-md-10 col-md-offset-1">{{literature.authorCN}}</span>
        </h4>
    </div>
    <div class="row">
        <h4>
            <span class="col-md-1 label-default label">期刊/会议</span>
            <span class="col-md-10 col-md-offset-1">{{literature.publisher}}</span>
        </h4>
    </div>
    <div class="row">
        <h4>
            <span class="col-md-1 label-default label">期刊/会议中文</span>
            <span class="col-md-10 col-md-offset-1">{{literature.publisherCN}}</span>
        </h4>
    </div>
    <div class="row">
        <h4>
            <span class="col-md-1 label-default label">关键字</span>
            <span class="col-md-10 col-md-offset-1">{{literature.key_words}}</span>
        </h4>
    </div>
    <div class="row">
        <h4>
            <span class="col-md-1 label-default label">中文关键字</span>
            <span class="col-md-10 col-md-offset-1">{{literature.key_words_CN}}</span>
        </h4>
    </div>
    <div class="row">
        <h4>
            <span class="col-md-1 label-default label">地点</span>
            <span class="col-md-10 col-md-offset-1">{{literature.location}}</span>
        </h4>
    </div>
    <div class="row">
        <h4>
            <span class="col-md-1 label-default label">机构</span>
            <span class="col-md-10 col-md-offset-1">{{literature.institute}}</span>
        </h4>
    </div>
    <div class="row">
        <h4>
            <span class="col-md-1 label-default label">导师</span>
            <span class="col-md-10 col-md-offset-1">{{literature.instructor}}</span>
        </h4>
    </div>
    <div class="row">
        <h4>
            <span class="col-md-1 label-default label">语言</span>
            <span class="col-md-10 col-md-offset-1">{{literature.language}}</span>
        </h4>
    </div>
    <div class="row">
        <h4>
            <span class="col-md-1 label-default label">页数</span>
            <span class="col-md-10 col-md-offset-1">{{literature.pages}}</span>
        </h4>
    </div>
    <div class="row">
        <h4>
            <span class="col-md-1 label-default label">卷数</span>
            <span class="col-md-10 col-md-offset-1">{{literature.volume}}</span>
        </h4>
    </div>
    <div class="row">
        <h4>
            <span class="col-md-1 label-default label">期数</span>
            <span class="col-md-10 col-md-offset-1">{{literature.issue}}</span>
        </h4>
    </div>
    <div class="row">
        <h4>
            <span class="col-md-1 label-default label">分册</span>
            <span class="col-md-10 col-md-offset-1">{{literature.section}}</span>
        </h4>
    </div>
    <div class="row">
        <h4>
            <span class="col-md-1 label-default label">版本</span>
            <span class="col-md-10 col-md-offset-1">{{literature.edition}}</span>
        </h4>
    </div>
    <div class="row">
        <h4>
            <span class="col-md-1 label-default label">出版社</span>
            <span class="col-md-10 col-md-offset-1">{{literature.press}}</span>
        </h4>
    </div>
    <div class="row">
        <h4>
            <span class="col-md-1 label-default label">编辑</span>
            <span class="col-md-10 col-md-offset-1">{{literature.editor}}</span>
        </h4>
    </div>
    <div class="row">
        <h4>
            <span class="col-md-1 label-default label">ISBN</span>
            <span class="col-md-10 col-md-offset-1">{{literature.ISBN}}</span>
        </h4>
    </div>
    <div class="row">
        <h4>
            <span class="col-md-1 label-default label">ISSN</span>
            <span class="col-md-10 col-md-offset-1">{{literature.ISSN}}</span>
        </h4>
    </div>
    <div class="row">
        <h4>
            <span class="col-md-1 label-default label">DOI</span>
            <span class="col-md-10 col-md-offset-1">{{literature.DOI}}</span>
        </h4>
    </div>