    <div class="row">
        <h4>
            <span class="col-md-2 label-default label">标题</span>
            <span class="col-md-10 ">{{code.title}}</span>
        </h4>
    </div>
    <div class="row">
        <h4>
            <span class="col-md-2 label-default label">描述</span>
            <span class="col-md-10 ">{{code.description}}</span>
        </h4>
    </div>
    <!--<div class="row">-->
        <!--<h4>-->
            <!--<span class="col-md-2 label-default label">大小</span>-->
            <!--<span class="col-md-10 ">{{code.size}}</span>-->
        <!--</h4>-->
    <!--</div>-->
    <div class="row">
        <h4>
            <span class="col-md-2 label-default label">链接</span>
            <span class="col-md-10 ">{{code.uri}}</span>
        </h4>
    </div>
    <div class="row">
        <h4>
            <span class="col-md-2 label-default label">语言</span>
            <span class="col-md-10 ">{{code.language}}</span>
        </h4>
    </div>

    <div class="row">
        <h4>
            <span class="col-md-2 label-default label">标签</span>
            <span class="col-md-10">
                <div class="row">
                    <label ng-repeat="tag in tags" class="col-md-2">{{tag.name}}</label>
                </div>
            </span>
        </h4>
    </div>
