<div class="container" ng-controller="LiteratureShowCtrl">
    <div ui-view="nav"></div>
    <div class="row">
        <div class="col-md-8">
            <h2>{{literature.title}}</h2>
        </div>
        <div class="col-md-4">
            <button class="btn btn-danger pull-right" type="button" ng-click="delete()">删除</button>
            <p class="pull-right">&nbsp;</p>
            <a class="btn btn-primary pull-right" type="button" download="export.txt" ng-href="{{exportUrl}}">导出</a>

            <p class="pull-right">&nbsp;</p>

            <div ng-controller="addFavorCtrl">
                <button class="btn btn-primary pull-right" type="button" ng-show="!isFavorited"
                        ng-click="addFavor()">
                    收藏
                </button>
                <button class="btn btn-danger pull-right" type="button" ng-show="isFavorited"
                        ng-click="deleteFavorRes(1)">
                    取消收藏
                </button>
            </div>

            <p class="pull-right">&nbsp;</p>
            <button class="btn pull-right" type="button" ng-class="{'btn-primary': !isEdit, 'btn-info': isEdit}"
                    ng-click="changeState()">{{getEditLabel()}}
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>{{literature.rank_str}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div ui-view="viewLiteratureMeta" ng-hide="isEdit"></div>
            <div ui-view="editLiteratureMeta" ng-show="isEdit"></div>
        </div>
        <div class="col-md-4">
            <div ui-view="viewLiteratureUpload"></div>
        </div>
    </div>
    <div class="row">
        <div ui-view="viewLiteratureRelation"></div>
    </div>
    <div ng-controller="CommentCtrl">
        <div class="row">
            <div ui-view="addComment"></div>
        </div>
        <div class="row">
            <div ui-view="showComment"></div>
        </div>
    </div>
</div>